{% extends "base_css.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
<h2>登録</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for m in messages %}
            <p> {{m}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div style="margin-left: 50px;">
    <form action="#" method="post">
        <label for="">名前</label>
        <input type="text", name="name"></input>
        <button style="background-color: blueviolet; color: white;" type="submit"> ログイン</button>

    </form>

</div>
{% endblock %}